@font-face {
    font-family: 'Born2bSportyV2';
    src: url('Born2bSportyV2.woff2') format('woff2'),
        url('Born2bSportyV2.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

